@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-principal:#0A3871;
    --color-secundario:#f2f3f5;
    --fuente-inter:"Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--color-secundario);
}
main{
    display: flex;
    padding: 0 0 20px 0 ;
}
/*Logo de alura*/
.header__logo{
    padding: 40px 0 0 40px ;
}
.contenido__texto{
    padding: 168px 40px 0 80px ;
    display: flex;
    flex-direction: column;
}
#campo__texto{
    resize:none; /*Con esta propiedad no se puede agrandar o disminuir el modelo de caja de texto*/
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 28px;
    border: none;
    outline: none;
    color:var(--color-principal);
    background-color:var(--color-secundario);
}
::placeholder{
    color:var(--color-principal);
}


.info__permitido{
    padding: 16px 0;
    font-family: var(--fuente-inter);
    display: flex;
    align-items: center;
    gap: 10px;
}
/*Btones para encriptar y desencriptar*/
.boton__accion{
    display: flex;
    gap: 20px;
}
.boton__accionar__encriptar{
    padding: 24px 24px;
    width: 280px;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: none;
    cursor: pointer;
}
.boton__accionar__desencriptar{
    padding: 24px 24px;
    width: 280px;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    background-color: #D8DFE8;
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    cursor: pointer;
}


/*texto encriptado respuesta*/
.contenido__encriptado{
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 40px 40px 40px 0;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.imagen__espera__encriptado{
    padding: 125px 32px 32px 32px;
    width: 200px;
}
.texto__espera__encriptado{
    padding: 30px 32px 243px 32px;
    text-align: center;
    font-family: var(--fuente-inter);
    font-size: 36px;
    
}
.mensaje__esperando__encriptado{
    font-family: var(--fuente-inter);
    font-size: 24px;
    padding: 0 0 16px 0;
}
.esperando__encriptacion__mensaje{
    font-family: var(--fuente-inter);
    font-size: 16px;
}

.boton-copiar{
    padding: 24px 24px;
    width: 280px;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: none;
    cursor: pointer;
}
.footer{
    background-color: var(--color-principal);
    padding: 10px;
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
    text-align: center;
}




/*Dispositivo tablet*/
@media (max-width:768px) {
    main{
        display: flex;
        flex-direction: column;
    }    
    .contenido__texto{
        padding: 116px 0 0 40px ;
        width: 85%;
    }
    .imagen__espera__encriptado{
        display: none; /*quitando la imagen de espera*/
    }
    
    .texto__espera__encriptado{
        padding: 32px 0;
        width: 100%;
    }
    .contenido__encriptado{
        margin:40px;
    }
}

/*dispositivo mobile */
@media (max-width:375px) {
    .header__logo{
        padding: 24px 0 24px 16px ;
    }
    .contenido__texto{
        padding: 56px 0 0 16px ;
    }
    .info__permitido{
        font-size: 12px;
    }
    .boton__accion{
        flex-direction: column;
        align-items: center;
    }
    .contenido__encriptado{
        margin: 24px;
        padding: 32px;
    }
}
